build/
thirdparty/onnxruntime-*/
log/
logs/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
dist/
*.egg
.venv/
venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
.tox/
.nox/
*.cover
.hypothesis/
.dmypy.json
dmypy.json
.pytype/
cython_debug/
.ipynb_checkpoints
